* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.img-principal {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    width: 583px;
}

h1 {
    font-size: 32px;
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #404040;
    border: none;
    width: 342px;
    height: 74px;
    border-radius: 10px;
    font-size: 40px;
    color: #727272;
    border: 1px solid #727272;
    margin: 15px 30px;
}

button {
    display: block;
    background-color: #AEC346;
    border: none;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px #AEC346;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}