* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

header{
     
    margin-top: 47px;
    margin-left: 42px;
    
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

.button-header {
    background-color: rgb(42, 42, 42);
    border: black;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}


h1 {
        font-size: 3rem;
        color: #333;
        text-align: center;
        margin: 40px 0;
}

.img-anime {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.capas {
    width: 200px;
}