* {
    font-family: 'roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #555555;
    line-height: 24px;
    outline: none;
}

body {
    background-color: #8c52fd;
}

.img-principal {
    display: block;
    margin: auto;
    width: 300px;
    margin-bottom: 20px;
}

main {
    display: block;
    margin: auto;
    width: 350px;
    height: 710px;
    background-color: #ebe9e9;
    padding: 30px;
    border-radius: 15px;
}

label, p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

input, .currency-select-first, .currency-select-second {
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 290px;
    border: #555555 1px solid;
    appearance: none;
}

button {
    background-color: #772FD3;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 290px;
    border: #772FD3 1px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: #772FD3 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.arrow {
    display: block;
    margin: auto;
    padding: 10px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}
